*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 20vh;
    background-color: #2facc0;
}

header nav.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

header nav.navBar label.logo img#logo{
    width: 70px;
    height: 70px;
    border: solid #f5f5f5 5px ;
    border-radius: 50%;
}

header nav.navBar label.logo img#logo{
    cursor: pointer;
}
header nav.navBar ul.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    list-style-type: none;
}
header nav.navBar ul.list li a{
    text-decoration: none;
    color: #02363e;
    font-size: 1.25rem;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

header nav.navBar ul.list li a:hover {
    /* background-color: #2facc0; */
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
}
header nav.navBar ul.list li a:active {
    color: red;
}

header nav.navBar ul.toggle {
    display: flex;
}


/* /// main style */
.intro-content .intro-hire__button div.toggle {
    display: none;
}
main section.intro {
    width: 100%;
    min-height: 100vh;
}
/* =======About========= */
.intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 80vh; */
    background-color: #f5f5f5;
    padding: 5%;
}

.intro-content .intro-content__text h3{
    font-size: 1.2rem;
    margin: 15px 0;
}

.intro-content .intro-content__text h1{
    font-size: 2rem;
    margin: 15px 0;
}

.intro-content .intro-content__text p{
    width: 100%;
    font-size: 1.1rem;
}
.intro-content .intro-hire__button{
    background: #f5f5f5;
    padding: 10px 0;
}
.intro-content .intro-hire__button .intro-btn {
    font-size: 1.25rem;
    background-color: #2facc0;
    color: #fff;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.8rem 0;
    transition: .5s ease-in;
}
.intro-content .intro-hire__button .intro-btn span {
    margin-left: 5px;
}
.intro-content .intro-hire__button .intro-btn:hover {
    background-color: #288c9c;
    transform: translateY(1px);
    border-radius: 0.1rem;
}

.intro-content .intro-hire__button .intro-btn:active {
    background-color: #2facc0;
}
.intro-content .intro-hire__button .intro-contact__icon {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    padding: 10px 5px;
    overflow: hidden;
    transition: .5s ease;
}
.intro-content .intro-hire__button .intro-contact__icon i{
    display: grid;
    place-items: center;
    padding: 10px;
    box-shadow: inset #f5f5f5 1px 2px 2px, #555 -1px 1px 1px ;
    transition: 0.5s ease;
    cursor: pointer;
    background-color: #2facc0;
}
.intro-content .intro-hire__button .intro-contact__icon i:hover {
    background-color: #fff;
    box-shadow: inset #f5f5f5 1px 1px 1px,  #222 -2px 1px 1px ;
    transform: scale(1.1);
    color: #2facc0;
}
/* //// skills//// */
.skills {
    text-align: center;
    background-color: #f5f5f5;
    padding: 5% 2%;
    width: 100%;
    
} 

.skills--header {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 10px;
}
.skills--sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 20px;
}

.skills .skills-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

}

.skills .skills-section .skills-frontend-section .frontend-skills,.skills .skills-section .skills-design-section .design-skills {
    display: flex;
    flex-wrap: wrap;

}

.frontend-skills .ball, .design-skills .ball{
    background-color: #fff;
    padding: 20px;
    border-radius: 0.8rem;
    margin: 10px;

}
.frontend-skills .ball img, .design-skills .ball img{
    width: 100px;
    height: 100px;
    
}

.frontend-skills .ball, .skills-design-section .ball{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.frontend-skills .ball caption,  .skills-design-section .ball caption {
    font-size: 0.5rem;
}

/* ///// qualification ///// */
.qualification {    
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: #f5f5f5;
}
.qualification h1.qualification--header{
    text-align: center;
    display: block;
    font-size: 2rem;
    margin: 5px;
}

.qualification h3.qualification--sub-heading {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: 400;
    color: #02363e;
}

.education-section, .experience-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 10px;
}

.sections {
    color: #222;
    letter-spacing: 1px;
}

.section-heading{
    font-size: 1.4rem;
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 50px;
    font-weight: 600;
    color: #02363e;
}
.section-heading span{
    margin-right: 5px;
}

.sections .discipline {
    line-height: 40px;
    font-weight: 600;
}

.sections .institution-name {
    line-height: 35px;
    margin-left: 10px;
}
.sections .year {
    margin-left: 10px;
    font-weight: 600;
}
/* //// services//// */
.services {
    width: 100%;
    padding: 5%;
    background-color: #f5f5f5;
}
.services .services-header{
    text-align: center;
    display: block;
    font-size: 2rem;
    margin: 5px;
}
.services .services--sub-header {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: 400;
    color: #02363e;
}
.services .services-cards {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.services .services-cards .card{
    border: 1px solid #2facc0;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0.2rem;    
    transition: .5s ease;   
}
.services-cards .card h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 5px;
    color: #02363e;
    transition: .5s ease;   
}
.services-cards .card p{
    font-size: 1rem;
    line-height: 25px;
}
.services-cards .card:hover {
 box-shadow: -5px 2px 2px #222, 5px 2px 2px #fff;
 transform: scale(1.01);
 background-color: #2fadc008;
}

/* /////project///// */
.project{
    padding: 2%;
    width: 100%;
    background-color: #f5f5f5;
}
.project .project--header {
    font-size: 2rem;
    display: block;
    text-align: center;
    width: 100%;
    margin: 5px;
}
.project .project--sub-heading{
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: 400;
    color: #02363e;
}
.project-card-section{
}

.project-cards--container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.project-card {
    margin: 10px;
    display: grid;
    justify-content: center;
    background-color: #9ee9f567;
    padding: 10px;
    border-radius: .5rem;
    transition: .3s ease;
}
.project-card:hover {
    background-color: #999;
    color: #fff;
}
.project-card:hover img{
    transform: scale(1.02) translateY(2px);
    transition: .3s ease;
}
.project-card img {
    width: 250px;
    height: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}
.project-card .card-text .card-subtitle{
    font-size: .9rem;
    color: #444;
}
.project-card .card-text .card-title{
    font-size: 1.5rem;
    font-weight: 400;
    margin: .4rem 0 1.2rem;
}

.project-card .card-text .card-btn {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: #333;
    text-decoration: none;
    font-size: .95rem;
}
.project-card .card-text .card-btn i {
    font-size: 1rem;
    transition: transform .3s;
}
.project-card .card-text .card-btn:hover i {
    transform: translateX(.25rem);
}
/* /////contact///// */

.contact {
    background-color: #02363e;
    width: 100%;
    padding: 2%;
}

.contact--header {
    font-size: 2rem;
    display: block;
    text-align: center;
    width: 100%;
    margin: 5px;
    color: #f5f5f5;
}
.contact--sub-heading {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: 400;
    color: #f5f5f5;
}
.contact-text .contact-list{
    list-style-type: none;
}
.contact .contact-section-container .contact-text ul.contact-list li a{
    text-decoration: none;
    color: #fff;
}

.contact .contact-icons {        
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    overflow: hidden;
    transition: .5s ease;
    gap: 10px;
    text-align: center;
}
.contact .contact-icons a {
    background-color: #9ee9f5;
    padding: 10px ;
}
.contact-icons a:hover {
    background-color: #fff;
    box-shadow: inset #f5f5f5 1px 2px 2px, #555 -1px 1px 1px ;
    transition: 0.5s ease;
    cursor: pointer;
}

.contact-icons a:active i {
    color: red;
}


.contact-form form label input::placeholder, textarea::placeholder {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    text-transform: lowercase;
    color: #555;
}

input.send {
    background-color: #2facc0;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
}
input.send:hover {
    background-color: #9ea0f567;
}
.contact-form form label input, textarea {
    background-color: #fff;
}
